body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 80px;
    background: white;
    padding: 30px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}
.forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.forecast-card {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    width: 70px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.weather-box {
    margin-top: 20px;
}

.recommendation {
    margin-top: 15px;
    padding: 10px;
    background: #f1f1f1;
    border-radius: 10px;
}

.error {
    color: red;
    margin-top: 10px;
}